.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  /* z-index: 10; */
}

.circular-progress-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.circular-progress {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.circle-bg,
.circle {
  fill: none;
}

.circle-bg {
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  stroke: #722f37;
  stroke-width: 2.8;
  animation: progress 5s linear infinite;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
  }
}

img {
  object-fit: cover;
}

.wineai-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.placeholders {
  z-index: 999;
}

.imgstroke-1 {
  object-fit: cover;
  border: 5px solid #a8a7a7;
}

.imgstroke-2 {
  object-fit: cover;
  border: 5px solid #7392ad;
}

.imgstroke-3 {
  object-fit: cover;
  border: 5px solid #a3687d;
}

.featured-container {
  width: 100%;
  min-height: 100vh;
}

.featured-main-contaner {
  width: 100%;
  min-height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
}

.right-images-container {
  margin-left: 8rem;
}
